body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d8d8d8;
}

.container {
  text-align: center;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  color: #333;
}

input {
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
  width: 200px;
  border-radius: 8px;
  border: 0.5px solid grey;
}

input:hover {
  border: 1.5px solid #30c5bb;
}

button {
  background-color: #4caf50;
  border: none;
  border-radius: 7px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #409044;
}

p {
  margin-top: 20px;
  font-size: 18px;
}
