html {
  height: 100%;
  background: linear-gradient(grey, transparent);
  background-blend-mode: color-burn;
}

.cursor1 {
  position: fixed;
  width: 80px;
  height: 80px;
  border: 3px solid #111;
  border-top-color: blue;
  border-left-color: red;
  border-right-color: green;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.1s ease;
}

.cursor2 {
  position: fixed;
  background: #111;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  transition: all 0.1s ease;
}
